.header-title {
  font-size: 3vw;
  color: white;
  text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black; /* Simulates a stroke */
  border: 1px solid black;
  padding-left: 20vw;
}
.header-section {
  border: 1.1px solid black;
}

.header-icon-container {
  display: flex; /* Aligns icons horizontally */
  justify-content: space-between; /* Distributes space evenly */
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  /* Adds spacing below the icons */
}

.header-icon {
  font-size: 2vh; /* Adjust size of icons */
  color: white;
  cursor: pointer; /* Makes icons clickable */
  transition: transform 0.2s; /* Adds hover effect */
}

.header-icon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.save-file-btn {
  background-color: black;
}
